
@{
    ViewData["Title"] = "RegistrationFailed";
}

<h1>Не удалось зарегестрироваться, пользователь с таким логином уже существует</h1>
<br>
<a href ="~/Values/Registration">Вернуться на страницу регистрации</a>
<br><br>
<a href="~/Home/Index">Вернуться на главный экран</a>
